			body{
				background:#000000;
			}
						
			body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{ margin:0; padding:0;}
table{ border-collapse:collapse; border-spacing:0;}
fieldset,img{ border:0;}
address,caption,cite,code,dfn,th,var{ font-style:normal; font-weight:normal;}

caption,th{ text-align:left;}
h1,h2,h3,h4,h5,h6{ font-size:100%; font-weight:normal;}
q:before,q:after{ content:'';}
abbr,acronym{ border:0;}
html {
	overflow:-moz-scrollbars-vertical;
}

#fut{	background-image: url("../Recursos/fondofu.jpg");
			}


form{
	background:#f7f7f7;
	background:-moz-linear-gradient(90deg, #ccc, #fff); /* Firefox */
	background:-webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc)); /* Webkit */
	border:1px solid #aaa;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-moz-box-shadow:0 0 15px #aaa;
	-webkit-box-shadow:0 0 15px #aaa;
	margin-left:10px;
	margin-top: 20px;
	padding:20px;
	width:20%;
	float:left;
	
}

.for{
		background:#f7f7f7;
	background:-moz-linear-gradient(90deg, #ccc, #fff); /* Firefox */
	background:-webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc)); /* Webkit */
	border:1px solid #aaa;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-moz-box-shadow:0 0 15px #aaa;
	-webkit-box-shadow:0 0 15px #aaa;
	padding:20px;
	width:200px;


}



#textarea{
	
				background-color: #1c1c1c;
                border: solid 1px transparent;
				float:right;
				width:70%;
				background:#f7f7f7;
				background:-moz-linear-gradient(90deg, #ccc, #fff); /* Firefox */
				background:-webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc)); /* Webkit */
				border:1px solid #aaa;
				-moz-border-radius:10px;
				-webkit-border-radius:10px;
				-moz-box-shadow:0 0 15px #aaa;
				-webkit-box-shadow:0 0 15px #aaa;
				margin-left:10px;
				margin-top: 20px;
				margin-right: 5px;
				padding:20px;
				text-align: justify;
			}
  		/* #textarea h3, #textarea p,h1
        {
        	margin:10px;
         padding: 10px; 
        }
		 */
		#textarea ul{
			margin:10px;
			padding:3px;
			size:10px;
		}
		#textarea table{
			border:2px solid white;
			margin:20px;
			padding:5px;
		}
		#textarea li{
			type:none;
		}
		#pie{
			clear:both;
			background-color:#2d2d2d;
			padding:20px:
			width:80%;
			
			}
			.ima_right{
				float: right;
				margin: 20px;
				color:#663333;
				border-color:#00FF00;
				border=10px solid;
			}
	    .vinc{
	    	
	     	border-color:black;
	     	border: 2px black solid;
	     	
	     }	
	     		
	     .lis{
	     	font-size: 12px;
	     	list-style: none;
	     	padding-left: 7px;	     	
	     	padding-top: 7px;
	     }
		.lis a{
			text-decoration: none;
		}
		.lis a:hover{
			text-decoration:underline;
		}
		
h1{
	border-bottom:1px solid #ccc;
	font-size:11px;
	font-weight:bold;
	letter-spacing:2px;
	margin-bottom:20px;
	text-transform:uppercase;
}
form p{
	margin-bottom:20px;
}
form p:last-child{ /* Sélecteur avancé pour sélectionner le dernier paragraphe du formulaire */
	margin-bottom:0;
}
label{
	cursor:pointer;
	display:block;
	float:left;
	font-size:13px;
	font-weight:bold;
	line-height:28px;
	width:120px;
}
form p:hover label{
	color:#ff3737;
}
form p:hover label:after{
	content:" »";
	color:#000000;
}
input[type=text],
input[type=password]{
	background: rgba(255, 255, 255, 0.9);
	background:-moz-linear-gradient(90deg, #fff, #eee); /* Firefox */
	background:-webkit-gradient(linear, left top, left bottom, from(#eee), to(#fff), color-stop(0.2, #fff)); /* Webkit */
	border:1px solid #aaa;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-moz-box-shadow:0 0 3px #aaa;
	-webkit-box-shadow:0 0 3px #aaa;
	padding:5px;
}
input[type=text]:focus,
input[type=password]:focus{
	border-color:#c60000;
	-moz-box-shadow:0 0 3px #e60000;
	-webkit-box-shadow:0 0 3px #e60000;
	outline:none; /* Pour enlever le contour jaune lorsque l'on sélectionne un input dans Chrome */
}
select{
	cursor:pointer;
	padding:3px;
	-moz-box-shadow:0 0 3px #aaa;
	-webkit-box-shadow:0 0 3px #aaa;
}
select:active,
select:focus{
	border:1px solid #c60000;
	-moz-box-shadow:0 0 3px #e60000;
	-webkit-box-shadow:0 0 3px #e60000;
	outline:none;
}
input[type=submit],
a.submit{
	background:#ddd;
	background:-moz-linear-gradient(90deg, #e60000, #ff4646); 
	background:-webkit-gradient(linear, left top, left bottom, from(#ff4646), to(#e60000)); /* Webkit */
	border:1px solid #093c75;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-moz-box-shadow:0 1px 0 #fff;
	-webkit-box-shadow:0 1px 0 #fff;
	color:#fff;
	cursor:pointer;
	font-family:Arial,sans-serif;
	font-size:12px;
	font-weight:bold;
	margin-left:10px;
	padding:5px 10px;
	text-decoration:none;
	text-shadow:0 1px 1px #333;
	text-transform:uppercase;
}
input[type=submit]:hover,
a.submit:hover{
	background:#eee;
	background:-moz-linear-gradient(90deg, #ff4646, #ff7171);
	background:-webkit-gradient(linear, left top, left bottom, from(#ff7171), to(#ff4646));
	border-color:#fb0000;
	text-decoration:none;
}
input[type=submit]:active,
input[type=submit]:focus,
a.submit:active,
a.submit:focus{
	background:#ccc;
	background:-moz-linear-gradient(90deg, #ff4646, #ff7171);
	background:-webkit-gradient(linear, left top, left bottom, from(#ff4646), to(#ff7171));
	border-color:#d50000;
	outline:none;
}
			#wrapper{
				margin: auto;
				position:relative;
				width:1100px;
				margin-top: 20px;
				<!-- background-color: #DDD; -->
			}
			#encabezado{
				font-family: "Copperplate Gothic Light", "MS Trebuchet", sans-serif;
				font-size: 3.5em;
				width: 95%;
				padding: 15px;
				text-shadow: 0px 2px 3px #555;
				background-color: #ff0000;
				-moz-border-radius: 8px;     
				-webkit-border-radius: 8px;
				color: #fef4e9;
	            border: solid 1px #ff4a4a;
	            background: #ff4242;
	            background: -webkit-gradient(linear, left top, left bottom, from(#ff4646), to(#e60000));
	            background: -moz-linear-gradient(top,  #ff4646,  #e60000);
	            filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4646', endColorstr='#e60000');
	            -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	            -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	            box-shadow: 0 1px 2px rgba(0,0,0,.2);
			}
			.button1{
				width: 23.5%;
				padding: 5px;
				display: inline-block;
	            outline: none;
	            cursor: pointer;
	            text-align: center;
	            text-decoration: none;
	            font: 14px/100% Arial, Helvetica, sans-serif;
	            color: #c0c0c0;
	            padding-top: 2px;
	            padding-bottom: 2px;
	            -webkit-border-radius: .3em; 
	            -moz-border-radius: .3em;
	            border-radius: .3em;
	            -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	            -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	            box-shadow: 0 1px 2px rgba(0,0,0,.2);
	            }
	         .button1:hover {
	            text-decoration: none;
                }
             .button1:active {
	            position: relative;
	            top: 1px; 
	            }
	          .re {
	color: #fef4e9;
	border: solid 1px #454545;
	background: #363636;
	background: -webkit-gradient(linear, left top, left bottom, from(#666666), to(#313131));
	background: -moz-linear-gradient(top,  #666666,  #313131);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#313131');
}
.re:hover {
    background: #595959; 
	background: -webkit-gradient(linear, left top, left bottom, from(#7f7f7f), to(#595959));
	background: -moz-linear-gradient(top,  #7f7f7f,  #595959));
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#7f7f7f', endColorstr='#595959)');
}
.re:active {
	color: #ffe3d2;
	background: -webkit-gradient(linear, left top, left bottom, from(#595959), to(#7f7f7f));
	background: -moz-linear-gradient(top,  #595959,  #7f7f7f);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#595959', endColorstr='#7f7f7f');
 }
/* Main menu */


    	
p.showMe {font:normal 12px/20px arial, sans-serif; color:#666; width:500px; padding:10px; margin:0 auto;}
p.showMe a.more, p.showMe a.less {color:#c00; font-weight:bold; text-decoration:none; outline:0;}
p.showMe a.more + a.less {display:none;}
p.showMe span {display:none;}

p.showMe a.more:active {*display:none;}
p.showMe a.more:active ~ span {*display:inline;}
p.showMe a.more:active + a.less {*display:inline;}
p.showMe a.less:active {*display:none;}

p.showMe a.more:focus {display:none;}
p.showMe a.more:focus ~ span {display:inline;}
p.showMe a.more:focus + a.less {display:inline;}
p.showMe a.less:focus {display:none;}

p.showMe span:hover {display:inline;}


//menu de registarse

#container {
clear: both;
margin: 0;
padding: 0;
}

#container a{
float: right;
background: #9FC54E;
border: 1px solid #9FC54E;
-moz-border-radius-topright: 20px;
-webkit-border-top-right-radius: 20px;
-moz-border-radius-bottomleft: 20px;
-webkit-border-bottom-left-radius: 20px;
text-decoration: none;
font-size: 16px;
letter-spacing:-1px;
font-family: verdana, helvetica, arial, sans-serif;
color:#fff;
padding: 20px;
font-weight: 700;
}

#container a:hover{
float: right;
background: #a0a0a0;
border: 1px solid #cccccc;
-moz-border-radius-topright: 20px;
-webkit-border-top-right-radius: 20px;
-moz-border-radius-bottomleft: 20px;
-webkit-border-bottom-left-radius: 20px;
text-decoration: none;
font-size: 16px;
letter-spacing:-1px;
font-family: verdana, helvetica, arial, sans-serif;
color:#fff;
padding: 20px;
font-weight: 700;
}

.content {
font-style:normal;
font-family:helvetica, arial, verdana, sans-serif;
color:#ffffff;
background:#333333;
border:1px solid #444444;
-moz-border-radius-topright: 20px;
-webkit-border-top-right-radius: 20px;
-moz-border-radius-bottomleft: 20px;
-webkit-border-bottom-left-radius: 20px;
margin: 30px 0 50px;
padding: 15px 0;
}

.content p {
margin: 10px 0;
padding: 15px 20px;
}

.panel {
position: absolute;
top: 730px;
left: 0;
display: none;
background: #000000;
border:1px solid #111111;
-moz-border-radius-topright: 20px;
-webkit-border-top-right-radius: 20px;
-moz-border-radius-bottomright: 20px;
-webkit-border-bottom-right-radius: 20px;
width: 270px;
height: auto;
padding: 80px 10px 3px 3px;
filter: alpha(opacity=85);
opacity: .85;
}

.panel p{
margin: 0 0 15px 0;
padding: 0;
color: #cccccc;
}

.panel a, .panel a:visited{
margin: 0;
padding: 0;
color: #9FC54E;
text-decoration: none;
border-bottom: 1px solid #9FC54E;
}

.panel a:hover, .panel a:visited:hover{
margin: 0;
padding: 0;
color: #ffffff;
text-decoration: none;
border-bottom: 1px solid #ffffff;
}

a.trigger{
position: absolute;
text-decoration: none;
top: 760px; left: 0;
font-size: 16px;
letter-spacing:-1px;
font-family: verdana, helvetica, arial, sans-serif;
color:#fff;
padding: 20px 40px 20px 15px;
font-weight: 700;
background:#333333 url(../Recursos/plus.png) 85% 55% no-repeat;
border:1px solid #444444;
-moz-border-radius-topright: 20px;
-webkit-border-top-right-radius: 20px;
-moz-border-radius-bottomright: 20px;
-webkit-border-bottom-right-radius: 20px;
-moz-border-radius-bottomleft: 0px;
-webkit-border-bottom-left-radius: 0px;
display: block;
}

a.trigger:hover{
position: absolute;
text-decoration: none;
top: 760px; left: 0;
font-size: 16px;
letter-spacing:-1px;
font-family: verdana, helvetica, arial, sans-serif;
color:#fff;
padding: 20px 40px 20px 20px;
font-weight: 700;
background:#222222 url(../Recursos/plus.png) 85% 55% no-repeat;
border:1px solid #444444;
-moz-border-radius-topright: 20px;
-webkit-border-top-right-radius: 20px;
-moz-border-radius-bottomright: 20px;
-webkit-border-bottom-right-radius: 20px;
-moz-border-radius-bottomleft: 0px;
-webkit-border-bottom-left-radius: 0px;
display: block;
}

a.active.trigger {
background:#222222 url(../Recursos/minus.png) 85% 55% no-repeat;
}

//menu que aparece a la parte izquierda

    	#navigation-block {
	position:relative;
	top:150px;
	left:200px;
}

#hide {
	position:absolute;
	top:30px;
	left:-190px;
}

ul#sliding-navigation
{
	list-style: none;
	font-size: 1em;
	margin: 30px 0;
	padding: 0;
}

ul#sliding-navigation li.sliding-element h3,
ul#sliding-navigation li.sliding-element a
{
	display: block;
	width: 220px;
	padding: 5px 18px;
	margin: 0;
	margin-bottom: 5px;
}

ul#sliding-navigation li.sliding-element h3
{
	color: #fff;
	background:#333 url(heading_bg.jpg) repeat-y;
	font-weight: normal;
}

ul#sliding-navigation li.sliding-element a
{
	color: #999;
	background:#222 url(tab_bg.jpg) repeat-y;
	border: 1px solid #1a1a1a;
	text-decoration: none;
}

ul#sliding-navigation li.sliding-element a:hover { color: #fffff6; }
