#encabezado2{
				font-family: "Copperplate Gothic Light", "MS Trebuchet", sans-serif;
				font-size: 1em;
				padding: 2px;
				text-shadow: 0px 2px 3px #555;
				background-color: #ff0000;
				-moz-border-radius: 8px;     
				-webkit-border-radius: 8px;
				color: #fef4e9;
	            border: solid 1px #ff4a4a;
	            background: #ff4242;
	            background: -webkit-gradient(linear, left top, left bottom, from(#ff4646), to(#e60000));
	            background: -moz-linear-gradient(top,  #ff4646,  #e60000);
	            filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4646', endColorstr='#e60000');
            text-align: center;
            width: 100%;
            margin-bottom: 17px;
        
		   		
			}
			
			#search-pva {
			/* border-right-color: #FFFFFF;
			border: 1px solid #AAAAAA;
			*/
			 margin-bottom: 40px;
			 margin-left: auto;
			 padding-left: 11px;
			 width: 765px;
			  
			 background: -moz-linear-gradient(90deg, #CCCCCC, #FFFFFF) repeat scroll 0 0 transparent;
          
			 
			 
			 
			 
			 /* background:#efefef;
			  background: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#efefef));
			  background: -moz-linear-gradient(top,  #ff4646,  #efefef);
	          filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffeaea', endColorstr='#efefef');
			  -moz-border-radius: 8px;     
				-webkit-border-radius: 8px;*/
			}
			
			.ytg-last {
			    margin-right: 0;
			}
		
			.ytg-4col-b, .ytg-4col-ib, .ytg-3col-b, .ytg-3col-ib, .ytg-2col-b, .ytg-1col-b, .ytg-1col-ib {
			    border-left: 1px solid transparent;
			    border-right: 1px solid transparent;
			}
		
			.ytg-2col-b {
			    width: 308px;
			}
		
			.ytg-4col, .ytg-3col, .ytg-2col, .ytg-1col-i, .ytg-1col-ib, .ytg-1col, .ytg-4col-b, .ytg-3col-b, .ytg-2col-b, .ytg-1col-b {
			    float: left;
			    margin-right: 20px;
			}
	
		
		a, abbr, acronym, address, applet, b, big, blockquote, button, canvas, caption, center, cite, code, body, dd, del, dfn, div, dl, dt, em, embed, fieldset, font, form, h1, h2, h3, h4, h5, h6, hr, html, i, iframe, img, ins, kbd, label, legend, li, menu, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, u, ul, var {
		    background: none repeat scroll 0 0 transparent;
		    border: 0 none;
		    font-size: 100%;
		    margin: 0;
		    padding: 0;
		}
		
		
		.ux-thumb-128 {
		    background: none repeat scroll 0 0 #FFFFFF;
		    border: 1px solid #D3D3D3;
		    border-radius: 3px 3px 3px 3px;
		    display: inline-block;
		    overflow: hidden;
		    padding: 4px;
		}
		
		.video-time, .video-corner-text span {
		    background-color: #000000;
		    border-radius: 3px 3px 3px 3px;
		    color: #FFFFFF !important;
		    display: inline-block;
		    font-size: 11px;
		    font-weight: bold;
		    height: 14px;
		    line-height: 14px;
		    opacity: 0.75;
		    padding: 0 4px;
		    vertical-align: top;
			z-index
		}
		
		.video-time {
		    bottom: 5px;
		    margin-right: 25px;
		    margin-top:90px;
		    position: relative;
		    right: 30px;
			top:-0px;
			z-index
		}
		
		a {
		    color: #0033CC;
		    text-decoration: none;
		}
		
		
		
		.new-snippets .search-ad-description {
		    font-size: 11px;
		    margin: 5px 0;
		}
		
		
		
		.sidebar-ads h3, .sidebar-ads p {
		    overflow: hidden;
		}
		
		.facets, .vfacets {
		    font-size: 11px;
		    line-height: 13px;
		    margin-bottom: 3px;
		    margin-top: 2px;
		}
		.sidebar-ads
		{
			border: 30px none;
			float: left;
			width: 300px;
			height: 209px;
			margin: 19px 29px 0 37px;
		}